# Python project .gitignore
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.dist-info/
*.egg
*.whl
*.log
.env
.venv/
.venv*/
.vscode/
.DS_Store
*.sqlite3

opensky_map.png
src/near_opensky/.nearby_cities_cache.json
src/near_opensky/.airplanes_live_ts
*.swp
